<?xml version="1.0" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target xsi:type="File" name="allfile" fileName="M:\VisualStudioProjects\0. Projects for testing\ProjectsDbAPI\logs.log"
            layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="allfile" />
  </rules>
</nlog>